extends ../layout

block content      
  if obj
    div.booksContainer
      for book in obj
        p.bTitle= book.title
        p.bGenre= book.genre
        p.bDesc= book.description
        img.bookCover(src=book.cover_url)
        if joinTable
          for join in joinTable
            if book.id == join.books_id
              p.authorName= join.f_name + " " + join.l_name
    div.actionButtons
      form(action='/books/'+id+'/delete' method='post')
        input.delete(type='submit' value='Delete')
  
