extends layout

block content      
  if books
    div.booksContainer
      for book in books
        a.title(href='/books/'+books.id)
          p= book.title
        p.bGenre= book.genre
        p.bDesc= book.description
        p.bCov= book.cover_url
        if joinTable
            for join in joinTable
              if book.id == join.books_id
                p.authorName= join.f_name + join.l_name
          //-   p.authorName= author.f_name 
            
      
          
