extends layout

block content      
  if books
    div.booksContainer
      for book in books
        a.title(href='/books/'+books.id)
          p= book.title
        p.bGenre= book.genre
        p.bDesc= book.description
        p.bCov= book.cover_url
  if authors
      for author in authors
        p.bauth= author.f_name 
          
    
        
