extends layout

block content      
  a.newBookbutton(href='/books/new') Add New Book
  if books
    div.booksContainer
      for book in books
        img.bookCover(src=book.cover_url)
        div.bookContent
        p.bDesc= book.description
        a.title(href='/books/'+books.id)
          p.bTitle= book.title
        p.bGenre= book.genre
        if joinTable
            for join in joinTable
              if book.id == join.books_id
                p.authorName= join.f_name + " " + join.l_name
          

              
        
            
